{% extends "user_register/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.first_name|as_crispy_field}}
    {{form.last_name|as_crispy_field}}
    {{form.username|as_crispy_field}}
    {{form.password|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-success btn-block btn-lg" onclick=ID()>Scan</button>
        </div>
        <div class=" col-md-8">
            {{form.card_id|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'user_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
            <a href="{% url 'logout' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> LogOut
            </a>
        </div>
    </div>

</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript">
    function ID() {
        let holder = document.getElementById("id_card_id");
        fetch('/get-id')
            .then(response => response.json())
            .then(data => {
                let { i } = data;
                holder.value = i;
                console.log(`holder value = ${holder.value}`);

            })
            .catch(err => console.log(err.value))

    }
</script>
{% endblock content %}