{% extends "user_register/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.first_name|as_crispy_field}}
    {{form.last_name|as_crispy_field}}
    {{form.username|as_crispy_field}}
    {{form.password|as_crispy_field}}
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-success btn-block btn-lg">Scan</button>
        </div>
        <div class=" col-md-8">
            {{form.card_id|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'user_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
            <a href="{% url 'logout' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> LogOut
            </a>
        </div>
    </div>

</form>
<script type="text/javascript">
    function Random() {
        var items = Array("93 75 8B 16", "37 0A 81 63", "F7 16 7C 62", "F7 16 7C 65", "F7 16 7C 66");
        var item = items[Math.floor(Math.random() * items.length)];
        return item;
    }
    document.getElementById('id_card_id').value = Random()
</script>
{% endblock content %}